@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");

.wrapper,
.finalWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10vh 10vw;
  text-align: justify;
  overflow: hidden;
}

.container,
.finalState {
  height: 80vh;
  padding: 10vh 6vw;
  border: 1px solid #7493cc;
  box-shadow: 0 0 4px #7493cc;
  overflow: scroll;
  scrollbar-width: none;
  padding-bottom: 15vh;
}

.container button {
  float: right;
}

.highlight {
  color: white;
}

.errorContainer {
  color: #ea5353;
  border: 1px solid #ea5353;
  padding: 6vh 6vw;
  box-shadow: 0 0 4px #ea5353;
  animation: error 1s infinite;
  z-index: 3000;
}

@keyframes error {
  0% {
    transform: none;
  }
  20% {
    transform: skew(0.8deg);
  }
  40% {
    transform: translateX(-1px);
  }
  60% {
    transform: skew(-0.8deg);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: none;
  }
}

.finalWrapper,
.finalState button {
  color: #fcc23b;
  background-color: black;
  font-family: "M PLUS 1 Code", monospace;
}
.finalState {
  border: 1px solid#fcc23b;
  box-shadow: 0 0 8px #fcc23b;
  text-align: left;
}

.finalState button {
  float: right;
  border: 1px solid#fcc23b;
}
.finalState button:hover {
  box-shadow: 0 0 8px #fcc23b;
}
.finalState button:active {
  color: #fc9b3b;
  box-shadow: 0 0 8px #fc9b3b;
  border: 1px solid #fc9b3b;
}

/* div to center video */
.alarmContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.alarm {
  position: absolute;
}
