header, footer {
  background-color: black;
  border: 1px solid  #74B9FF;
  position:fixed;
  left: 0;
  right: 0;
  height: 10vh;
  z-index: 1;
}
header{
  top: 0;
}
footer{
  bottom: 0;
}


/* ::selection {
  color: #74B9FF;
  background: rgb(149, 18, 18);
} */