/* Sequence of numbers needed for agent work */
.numbers.sequence {
  animation: wiggle 1s infinite;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  10% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-20deg);
    opacity: 0.7;
  }
  20% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(20deg);
    opacity: 0.7;
  }
  95% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

/* Glitched number to open riddle */
/* TODO: improve animation and style */
.numbers.special-number {
  font-weight: bold;
  animation: glitch-wiggle 1.5s infinite;
  cursor: pointer;
}

@keyframes glitch-wiggle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
    color: #7493cc;
  }
  15% {
    transform: rotate(-20deg);
    opacity: 1;
    color: #fcc23b;
  }
  20% {
    transform: rotate(0deg);
    color: #7493cc;
  }
  40% {
    opacity: 0.7;
  }
  80% {
    transform: rotate(0deg);
    color: #7493cc;
  }
  85% {
    transform: rotate(20deg);
    opacity: 1;
    color: #fcc23b;
  }
  95% {
    transform: rotate(0deg);
    color: #7493cc;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0.7;
  }
}
/* Lower opacity after visiting */
.visited-special-number {
  opacity: 0.2;
  color: #fcc23b;
  cursor: pointer;
}
