@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");

.riddleContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  background-color: black;
  font-family: "M PLUS 1 Code", monospace;
  color: #fcc23b;
  text-align: center;
}

/* Color coded riddle style */
.colorCoded {
  height: 500px;
}
.riddleContainer button {
  color: #fcc23b;
  border: 1px solid#fcc23b;
  background-color: black;
  font-family: "M PLUS 1 Code", monospace;
}
.riddleContainer button:hover {
  box-shadow: 0 0 8px #fcc23b;
}
.riddleContainer button:active {
  color: #fc9b3b;
  box-shadow: 0 0 8px #fc9b3b;
  border: 1px solid #fc9b3b;
}
span .riddleContainer {
  user-select: auto !important;
}
/* ::selection {
  color: black;
  background: #fcc23b;
} */
