.wrapper {
  text-align: center;
  padding: 15vh 0;
  user-select: none;
}
.wrapper h1 {
  font-size: 4.5rem;
  margin-bottom: 15vh;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
}
.wrapper h2 {
  margin-bottom: 6vh;
  font-size: 2.25rem;
}
.wrapper,
.loadingState,
.loadingLogo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.wrapper,
.loadingState {
  height: 100vh;
  align-items: center;
}
.loadingState {
  width: 100vw;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.loadingLogo {
  background-color: #0a101c;
  padding: 1vh;
  border: 1px solid #7493cc;
  box-shadow: 0 0 4px #7493cc;
  height: 60vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 8vh;
  user-select: none;
}

input {
  background-color: #0a101c;
  color: #7493cc;
  border: 1px solid #7493cc;
  width: 21vw;
  height: 5vh;
  padding: 0 1vw;
  font-family: "Steps Mono", monospace;
}
input:hover {
  box-shadow: 0 0 4px #7493cc;
}
input:focus {
  outline: 2px solid#7493cc;
}
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
form span {
  display: flex;
  flex-direction: column;
  text-align: left;
}
label {
  margin-bottom: 1vh;
  /* font-size: 1.35rem; */
  color: rgba(255, 255, 255, 0.6);
}
form div {
  width: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loading {
  width: 100vw;
}

.output {
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

/* Loading bar */
progress {
  border: 1px solid #7493cc;
  width: 30vw;
  height: 4vh;
  box-shadow: 0 0 4px #7493cc;
  padding: 0.5vh;
  background-clip: padding-box;
  transform: scaleX(-1);
}
progress::-webkit-progress-bar {
  background: linear-gradient(
    to right,
    #7493cc,
    #7493cc 4%,
    #0a101c 4%,
    #0a101c 6%,
    #7493cc 6%,
    #7493cc 10%,
    #0a101c 10%,
    #0a101c 12%,
    #7493cc 12%,
    #7493cc 16%,
    #0a101c 16%,
    #0a101c 18%,
    #7493cc 18%,
    #7493cc 22%,
    #0a101c 22%,
    #0a101c 24%,
    #7493cc 24%,
    #7493cc 28%,
    #0a101c 28%,
    #0a101c 30%,
    #7493cc 30%,
    #7493cc 34%,
    #0a101c 34%,
    #0a101c 36%,
    #7493cc 36%,
    #7493cc 40%,
    #0a101c 40%,
    #0a101c 42%,
    #7493cc 42%,
    #7493cc 46%,
    #0a101c 46%,
    #0a101c 48%,
    #7493cc 48%,
    #7493cc 52%,
    #0a101c 52%,
    #0a101c 54%,
    #7493cc 54%,
    #7493cc 58%,
    #0a101c 58%,
    #0a101c 60%,
    #7493cc 60%,
    #7493cc 64%,
    #0a101c 64%,
    #0a101c 66%,
    #7493cc 66%,
    #7493cc 70%,
    #0a101c 70%,
    #0a101c 72%,
    #7493cc 72%,
    #7493cc 76%,
    #0a101c 76%,
    #0a101c 78%,
    #7493cc 78%,
    #7493cc 82%,
    #0a101c 82%,
    #0a101c 84%,
    #7493cc 84%,
    #7493cc 88%,
    #0a101c 88%,
    #0a101c 90%,
    #7493cc 90%,
    #7493cc 94%,
    #0a101c 94%,
    #0a101c 96%,
    #7493cc 96%,
    #7493cc 100%,
    #0a101c 100%,
    #0a101c
  );
}
progress::-webkit-progress-value {
  background-color: black;
  opacity: 1;
}
