.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.wrapper {
  padding: 15vh 0;
}
.wrapper h1 {
  font-size: 4.5rem;
  margin-bottom: 15vh;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
}
.wrapper h2 {
  margin-bottom: 6vh;
  font-size: 2.25rem;
}
input {
  background-color: #0a101c;
  color: #7493cc;
  border: 1px solid #7493cc;
  width: 21vw;
  height: 5vh;
  padding: 0 1vw;
}
input:hover {
  box-shadow: 0 0 4px #7493cc;
}
input:focus {
  outline: 2px solid#7493cc;
}
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
form span {
  display: flex;
  flex-direction: column;
  text-align: left;
}
label {
  margin-bottom: 1vh;
  font-size: 1.35rem;
  color: rgba(255, 255, 255, 0.6);
}
form div {
  width: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loading {
  /* height: 100vh; */
  width: 100vw;
}

.output {
  align-items: center;
  justify-content: center;
}
