header,
footer {
  background-color: #0a101c;
  border: 1px solid #74b9ff;
  position: fixed;
  left: 0;
  right: 0;
  height: 10vh;
  z-index: 1;
}
header {
  top: 0;
}
footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div {
  margin: auto;
}
.modalOverlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  width: 300px;
  cursor: default;
}

.modalHeader {
  background: #eee;
  padding: 0.5rem;
  cursor: move;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.modalBody {
  padding: 1rem;
}
