.container {
  padding: 10vh 30vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 100vh;
}

.logo {
  height: 50vh;
  padding-bottom: 2vh;
}

.highlight {
  color: #ffffff;
}

.paragraph {
  font-size: 1.25rem;
  text-align: justify;
  width: 40vw;
}

.paragraph blockquote,
.credentials {
  text-align: center !important;
}

.paragraph,
.credentials,
.uniCredits {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.credentials .play {
  font-size: 5vh;
  padding: 2vh 3vw;
  border: 3px solid #7493cc;
}

.credentials .play:hover {
  box-shadow: 0 0 8px #7493cc;
  cursor: pointer;
}
.credentials .play:active {
  box-shadow: 0 0 8px white;
  color: white;
  border: 3px solid white;
}

.uniCredits {
  text-align: left;
  width: 40vw;
}

.research {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 25vw;
  align-content: space-between;
  justify-content: space-between;
  padding-top: 4vh;
}
