.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10vh 10vw;
  text-align: justify;
  overflow: hidden;
}

.container {
  border: 1px solid #7493cc;
  padding: 10vh 6vw;
  box-shadow: 0 0 4px #7493cc;
  height: 80vh;
  overflow: scroll;
  scrollbar-width: none;
}

.highlight {
  color: #ffffff;
}

.contract {
  padding-bottom: 10vh;
}
.sign {
  float: right;
}

.sign button {
  margin: 5px;
}

ul {
  text-align: left;
  list-style-type: square;
  margin-left: 2vw;
  margin-top: 1rem;
}
li {
  padding-bottom: 0.5rem;
}
