* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/chakrapetch/v12/cIflMapbsEk7TDLdtEz1BwkeNIh1R5_F_gUk0w.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Steps Mono";
  src: url(./assets/font/Steps-Mono-Thin.otf);
  font-weight: thin;
}

body {
  overscroll-behavior: none;
  background-color: #0a101c;
  color: #7493cc;
  font-family: "Steps Mono", monospace;
  font-size: 1.35rem;
  line-height: 1.4;
}

header,
footer {
  background-color: #0a101c;
  border: 1px solid #7493cc;
  position: fixed;
  left: 0;
  right: 0;
  height: 10vh;
  z-index: 1;
  text-align: center;
}
header {
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2vh;
}
footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div {
  margin: auto;
}

button {
  background-color: #0a101c;
  font-family: "Steps Mono", monospace;
  color: #7493cc;
  border: 1px solid #7493cc;
  padding: 1vh 1vw;
}
h1,
h2,
h3 {
  color: white;
  text-align: left;
}

h3 {
  font-size: 1.7rem;
}

#eyeLogo {
  padding-left: 0.5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#eyeLogo h1 {
  max-height: 2.2rem;
  margin-left: 1.2vw;
  font-size: 2rem;
  font-family: "Chakra Petch";
}

button:hover {
  box-shadow: 0 0 4px #7493cc;
  cursor: pointer;
}
button:active {
  box-shadow: 0 0 4px white;
  color: white;
  border: 1px solid white;
}

::selection {
  color: #0a101c;
  background: white;
}
