* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Steps Mono";
  src: url(./assets/font/Steps-Mono-Thin.otf);
  font-weight: thin;
}

body {
  overscroll-behavior: none;
  background-color: #0a101c;
  color: #7493cc;
  font-family: "Steps Mono", monospace;
  user-select: none;
  font-size: 1.35rem;
}

header,
footer {
  background-color: #0a101c;
  border: 1px solid #7493cc;
  position: fixed;
  left: 0;
  right: 0;
  height: 10vh;
  z-index: 1;
  text-align: center;
}
header {
  top: 0;
}
footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div {
  margin: auto;
}

button {
  background-color: #0a101c;
  font-family: "Steps Mono", monospace;
  color: #7493cc;
  border: 1px solid #7493cc;
  padding: 1vh 1vw;
}
h1,
h2 {
  color: white;
  text-align: left;
}

button:hover {
  box-shadow: 0 0 4px #7493cc;
  cursor: pointer;
}
button:active {
  box-shadow: 0 0 4px white;
  color: white;
  border: 1px solid white;
}
