/* Sequence of numbers needed for agent work */
.numbers.sequence{
  color: chartreuse;
}
/* Glitched number to open riddle */
/* TODO: improve animation and style */
.numbers.special-number {
  color: red;
  font-weight: bold;
  animation: pulse 1.5s infinite;
  cursor: pointer;
}
@keyframes pulse {
  0%   { transform: scale(1); opacity: 1; }
  50%  { transform: scale(1.2); opacity: 0.7; }
  100% { transform: scale(1); opacity: 1; }
}
/* TODO: hide/lower opacity the number after visiting */
.visited-special-number {
  opacity: 0.2;
}